
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h1>Sonntagsfrage-Website</h1>

        <h2>Nach Instituten:</h2>
        <ul>
            <li><a href="/institute/insa">INSA</a></li>
            <li><a href="/institute/allensbach">Allensbach</a></li>
            <li><a href="/institute/dimap">Infratest dimap</a></li>
            <li><a href="/institute/forsa">forsa</a></li>
            <li><a href="/institute/gms">gms</a></li>
            <li><a href="/institute/politbarometer">politbarometer</a></li>
            <li><a href="/institute/yougov">yougov</a></li>
            <li>Bundestagswahl (TODO)</li>
        </ul>
    </body>
</html>
