<!DOCTYPE html>
<html>
    <head>
        <script src='https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js'></script>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
    </head>
    <body>
        <h1>Sonntagsfrage: {{instituteId}}</h1>
        <div>
            <div style="float:left; width:auto;">
                <table class="pollDataTable">
                    <thead>
                        <caption>Umfrageergebnisse</caption>
                        <tr>
                            <th style="font-weight:bold;">Datum</th>
                            {% for party in parties %}
                            <th>{{party}}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        <!--todo: for each stuff-->
                        {% for key in keysSorted %}
                            <tr>
                                <td style="padding-left:30px; padding-right:30px; font-weight:bold">{{key}}</td>
                                {% for i in range(9) %}
                                    <td>{{ jsonData["values"][key][i] }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table class="pollDataTable">
            </div>
            <div class="chartWrapper">
                <div>
                    <canvas id="barChart"></canvas>
                </div>
                <div style="padding-top:50px"></div>
                <div>
                    <canvas id="lineChart"></canvas>
                </div>
            </div>
            
        </div>
        
        
        
    </body>
    <script>
        var jsonDataJs = {
            parties: [
                {% for party in parties %}
                    "{{ party}}",
                {% endfor %}
            ],
            values: {
                {% for key in keysSorted %}
                    "{{ key }}": [
                        {% for value in jsonData["values"][key] %}
                            {{ value}},
                        {% endfor %}
                    ],
                {% endfor %}
                //key1:["12.5", "4.6"],
                //key2:["1.1",],
            }
        };
        var keysSortedJs = [
            {% for key in keysSorted %}
                "{{ key }}",
            {% endfor %}
        ];
        
        function getBarDataFromIndex(index) {
            return getBarDataFromTimestamp(keysSortedJs[index])
        }

        function getPartyColor(party) {
            switch(party) {
                case "CDU/CSU":
                    return "#31302e";
                    break;
                case "GRÜNE":
                    return "#3c8025";
                    break;
                case "SPD":
                    return "#e2001a";
                    break;
                case "FDP":
                    return "rgb(240, 223, 2)";
                    break;
                case "LINKE":
                    return "rgb(223, 4, 81)";
                    break;
                case "PIRATEN":
                    return "#fe8800";
                    break;
                case "FW":
                    return "#f29204";
                    break;
                case "AfD":
                    return "#009ee0";
                    break;
                case "Sonstige":
                    return "grey";
                    break;
                default:
                    return "grey";
                    break;
            }
        }

        function getColorsFromParties(partyList) {
            colorList = []
            for (party in partyList) {
                colorList.push(getPartyColor(partyList[party]));
            }
            return colorList;
        }

        function getBarDataFromTimestamp(timestamp) {
            return {
                labels: [
                    {% for party in parties %}
                        "{{ party}}",
                    {% endfor %}
                ],
                datasets : [{
                    label: timestamp,
                    backgroundColor:getColorsFromParties(jsonDataJs["parties"]),
                    data: jsonDataJs["values"][timestamp]
                }]
            }
        }

        

        function getLineData(from=0, to=48) {
            values = jsonDataJs["values"];
            keys = Object.keys(jsonDataJs["values"]).slice(from,to);        
            pointRadius = (to - from > 50) ? 0 : 3;
            lineData = {
                labels: keys,
                datasets: []
            };
            
            for (party in jsonDataJs["parties"]) {
                partyName = jsonDataJs["parties"][party];
                //get 
                partyValueList = [];
                for (timestamp in values) {
                    partyValueList.push(values[timestamp][party])
                }
                partyValueList = partyValueList.slice(from,to);

                lineData["datasets"].push(
                    {
                        label: partyName,
                        pointRadius:pointRadius,
                        borderColor: getPartyColor(partyName),
                        backgroundColor:partyName == "Sonstige" ? "rgba(0,0,0,0.05)" : "rgba(0,0,0,0.0)",
                        spanGaps:true,
                        data:partyValueList
                    }
                )
            }
            return lineData;
        }

        function setupBarChart(index) {
            barChartCanvas = document.getElementById("barChart").getContext("2d");

            myChart = new Chart(
                barChartCanvas,
                {
                    type: 'bar',
                    data: getBarDataFromIndex(index),
                    options: {
                        scales: {
                            yAxes: [{
                                ticks: {
                                    beginAtZero: true
                                }
                            }]
                        }
                    }
                }
            );
        }

        var lineChart = null;
        function setupLineChart(from=0, to=50) {

            lineChartCanvas = document.getElementById("lineChart").getContext("2d");

            lineChart = new Chart(
                lineChartCanvas, 
                {
                    type: 'line',
                    data: getLineData(from, to),
                    options: {}
                });
        }

        //init stuff ("main")
        setupBarChart(0);
        setupLineChart();


    </script>
</html>