<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Sonntagsfrage-Daten-Test</h1>
        <table>
            <thead>
                <caption>Server-filled table (test)</caption>
                <tr>
                    {% for party in parties %}
                    <td>{{party}}</td>
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                <!--todo: for each stuff-->
                {% for key in keysSorted %}
                    <tr>
                        {% for i in range(9) %}
                            <td>{{ jsonData["values"][key][i] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </body>
</html>